body {
  margin: 0 auto;
  background: #ffffff;
}

div {
  display: block;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 1.5em;
  padding: 5px 0 5px 5px;
  border-left: 20px solid #000000;
  border-bottom: 1px solid #000000;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.localnavi li {
  padding: 0;
  margin: 0;
  display: inline;
}

.localnavi a {
  text-decoration: none;
  display: block;
  padding: 0.5em 5px;
  background-color: #ddddff;
  color: #000000;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

.detail {
  font-size: 1em;
  color: #888888;
}

.underlinetext {
    text-decoration: underline;
}

#wrap {
  width: 1000px;
  margin: 50px 50px;
}

#header {
  margin: 0px 0px;
}

#sidebar {
  float: left;
  width: 200px;
  margin: 10px 10px 10px 0px;
}

#main {
  float: right;
  width: 700px;
  margin: 10px 50px 10px 0px;
}

footer {
  clear: both;
  text-align: center;
}

/*
#header{
width:100%;
}
#wrap { 
border:dashed 1px #999;
background:#ffffff;
width:90%;
text-align:left;
margin:1em auto 0;
}  
#main { 
border:dashed 1px #999;
margin-left:200px;
padding:5em 30px 4em 30px;
float:right; 
width:70%;
}  

#sidebar { 
border:dashed 1px #999;
width:20%; 
float:left; 
padding:4em 10px 2em;
} 
#footer{
border:dashed 1px #999;
text-align: center;
clear:both;
width:100%;
}
*/